{% extends 'base.html' %}

{% block slider %}
<div class="container">
    <!-- Content here -->
     
        <div class="row">
          <div class="col-md-2"> </div>
          <div class="col-md-8"> 
            <br/>
            <h2> POCKIS</h2>
            <br/>
                <p>   

                    Pockis are glasses for tired eyes- Presbyopia. Produced in three graduations.
                    It's maked like a monoblock piece by high grade polymer
                    and manufactured in clean room.
                    It 's made in EEUU.
                    It ́s one of the best presbyopic glasses of the market.
                    Approximate messurements: 80 mm Width, 38 mm High
                    and 3 mm Thick.
                    It ́s of the type “fit over the nose”.
                    It ́Sdelivered in a case to carry in your pocket or adhere to
                    the phone.
                    It can get wet.
                </p>
          </div>
          <div class="col-md-2"> </div>
          <div class="row"> 
            <div class="col-md-2"> </div>
            <div class="col-md-8"> 
                <h2> Uses </h2> 
                <br/>
                <p> 

                    Sports: Ski, golf, bikecicle, sail, mountain ...
                    In a day to day: reeding a book or any
                    instructions. Connect a cables. Using the
                    phone.
                    Works: bricklayer, plumber, carpenter,
                    electrician ...
                    </p>

          </div>
          <div class="col-md-2"> </div>
        </div>
        <br/>
</div>
   
  

{% endblock %}