    {% load static %}
    <!-- slider section -->

    <div class="row">
      <div class="col-md-4" style="padding-left:5%; float:left;">
        <h1 style="font: 10%; color: orange;">Pockis, Your Eye </h1>
            <h1 style="font: 10%; color: orange;"> Solution </h1> <br/>

            <p> Find convenient eye glasses to overcome your vision challenges. </p>
            <p> <span style="color:orange; font:5%; weight;100">Pockis</span>
              are unique in the following ways
            </p>
            <ul>
              
              <li> Of type "fit over the nose" </li> 
              <li> Very portable</li>
              <li> It can get wet </li>
              <li>Easy to use </li>
              <li> It does not have temples </li>
            </ul>
            <a href="#pockies_view">  <button style="background-color: orange; color:white;border:orange"> Explore Pockis</button> </a>
      </div>
      <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 offset-md-2">
                    <div class="slider_detail-box">
                      <h1>
                        POKIS
                        <span>
                          Care Your Eye
                        </span>
                      </h1>
                      <p>
                        Glasses description text 
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Buy now
                        </a>
                        <a href="" class="btn-2">
                          Contact
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <img src="{% static 'images/glass.jpeg' %}" alt="">
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                      <h5>Price: $12</h5>
                      <p>Pockis description.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 offset-md-2">
                    <div class="slider_detail-box">
                      <h1>
                        POKIS
                        <span>
                          Care Your Eye
                        </span>
                      </h1>
                      <p>
                        Beautiful glasses
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Buy now
                        </a>
                        <a href="" class="btn-2">
                          Contact
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <img src="{% static 'images/g5.jpeg' %}" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Price: $12</h5>
                      <p>Pockis description.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 offset-md-2">
                    <div class="slider_detail-box">
                      <h1>
                        POKIS
                        <span>
                          Care Your Eye
                        </span>
                      </h1>
                      <p>
                        Best glasses for your vision
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Buy now
                        </a>
                        <a href="" class="btn-2">
                          Contact
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <img src="{% static 'images/glass3.jpeg' %}" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Price: $12</h5>
                      <p>Pockis description.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 offset-md-2">
                    <div class="slider_detail-box">
                      <h1>
                        POKIS
                        <span>
                          Care Your Eye
                        </span>
                      </h1>
                      <p>
                        Quality glasses for your eye care
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Buy now
                        </a>
                        <a href="" class="btn-2">
                          Contact
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <img src="{% static 'images/g2.jpeg' %}" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Price: $12</h5>
                      <p>Pockis description.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        

      </div>
    </div>